<header id="main-header" class="main-header">
	<div class="main-header__inner">
		<a href="<%= RELATIVE_PATH %>" class="main-header__logo"><img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="" width=""></a>
		<span class="main-header__mobile-icon">
			<span class="main-header__mobile-icon-border"></span>
			<span class="main-header__mobile-icon-border"></span>
			<span class="main-header__mobile-icon-border"></span>
		</span>
		<nav class="main-header__navGlobal">
			<ul class="main-header__menu" role="list">
				<li class="main-header__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-header__link">トップ</a></li>
				<li class="main-header__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-header__link">わたしたちについて</a></li>
				<li class="main-header__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-header__link">実績紹介</a></li>
				<li class="main-header__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-header__link">メニュー・料金</a></li>
				<li class="main-header__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-header__link">制作の流れ</a></li>
				<li class="main-header__menu-item"><a href="<%= RELATIVE_PATH %>" class="main-header__link">よくある質問</a></li>
				<li class="main-header__menu-item--contact"><a href="<%= RELATIVE_PATH %>contact/" class="main-header__link c-btn__shine"><i class="fa-solid fa-envelope"></i><span class="main-header__menu-item--contact-txt">お問合せ</span></a></li>
			</ul>
		</nav>
	</div>
</header>

